<script type="text/javascript">
    $(document).ready(function() { ready() });
    $(document).on("turbolinks:load", function() { ready() });
    function routeInfoPopup(feature, layer) {
        layer.bindPopup(
            "<strong>" + feature.properties.name + ": " + feature.properties.tags.route_long_name + "</strong><br />\n" +
            "<a href=\"route?route=" + feature.properties.name + "\">Route info</a>"
        )
    }
    function ready() {
        busIcon = L.icon({
            iconUrl: "<%=image_path "glyphicons-32-bus.png"%>",
            iconSize: [8,7],
            className: 'stop-icon'
        });
        if (map != undefined) {
            map.remove()
        }
        var baseLayer = L.tileLayer.provider('Stamen.Toner');
        var map = L.map('mapid', {
            center: [29.961187, -90.066967],
            zoom: 11,
            layers: [baseLayer]
        });
        //map.locate({setView: true, maxZoom: 16});
        
        var bounds = L.geoJSON(<%=bounds.html_safe%>);
        
        var routes = L.geoJSON(<%=routes.html_safe%>, {
            style: function(feature) {
                return {color: "#"+feature.properties.color};
            },
            onEachFeature: routeInfoPopup
        })
        .addTo(map);

        <% if !stops.nil? %>
            var stops = L.geoJSON(<%=stops.html_safe%>, {
                pointToLayer: function(point, latlng) {
                    return L.marker(latlng, {icon: busIcon});
                }
            }).addTo(map);
        <% end %>
        var baseMap = { "Base" : baseLayer }
        L.control.layers(baseMap, routes).addTo(map);
        map.fitBounds(bounds.getBounds());
    };
</script>