<script type="text/javascript">
    $(document).ready(function() { ready() });
    $(document).on("turbolinks:load", function() { ready() });
    function routeInfoPopup(feature, layer) {
        layer.bindPopup(
            "<strong>" + feature.properties.name + ": " + feature.properties.tags.route_long_name + "</strong><br />\n" +
            "<a href=\"route_map?route=" + feature.properties.name + "\">Route info</a>"
        )
    }
    function ready() {
        busIcon = L.icon({
            iconUrl: "<%=image_path "glyphicons-32-bus.png"%>",
            iconSize: [8,7],
            className: 'stop-icon'
        });
        if (map != undefined) {
            map.remove()
        }
        var baseLayer = L.tileLayer.provider('Stamen.Toner');
        var map = L.map('mapid', {
            center: [29.961187, -90.066967],
            zoom: 11,
            layers: [baseLayer]
        });
        //map.locate({setView: true, maxZoom: 16});
        
        <% @trips.each do |trip| %>
          L.polyline(<%=trip.points.to_s.html_safe%>, {color: '#<%=@route.color%>'}).addTo(map);
        <% end %>

        var baseMap = { "Base" : baseLayer }
        //L.control.layers(baseMap).addTo(map);
        //map.fitBounds(bounds.getBounds());
    };
</script>