<h1><%= JSON.parse(@routes)['properties']['name']%>: <%= JSON.parse(@routes)['properties']['tags']['route_long_name']%></h1>
<div id="mapid"></div>

<%= render "map", {routes: @routes, bounds: @bounds} %>